html, body {
    margin: 0; 
    height: 100%; 
    overflow: hidden
}
body{
    background-color: #232323;
    color: #FFFFFF;
}

.modal-nav{
    position: absolute;
    top: 50px;
    bottom: 0px;
    display: none;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.modal-nav > .modal-nav-row > .modal-nav-col{
    height: 100vh;
}
.modal-nav > .modal-nav-row > .modal-nav-col:hover{
    background-color: #000000;
    opacity: 1 !important;
    cursor: pointer;
}
.modal-nav > .modal-nav-row > .modal-nav-col > .modal-nav-col-content > .row > img{
    margin: 0 auto;
    margin-top: 40vh!important;
    opacity: 1 !important;
}
.modal-nav > .modal-nav-row > .modal-nav-col > .modal-nav-col-content > .row > span{
    margin: 0 auto;
}

.modal-nav.is-full{
    left: 0;
    right: 0;
    border-left: 0;
    border-right: 0;
}
.modal-nav.is-open{
    display: block;
    opacity: 0.8;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }
.carousel-inner .item > img {
    width: 100%;
}

img.logo-fixed{
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    top: -10px;
}
img.logo-fixed.escuadras{
    margin-left: auto;
    margin-right: auto;
    width: 80px;
    top: -10px;
}
/* .header {
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
} */

.header {
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    background: rgba(76, 25, 79, 0.5);
}
.header > .row{
    z-index: 2;
    color: rgba(255, 255, 255, 0.7);
}
.header > .row > div > span:hover{
    color: rgba(255, 255, 255, 1.0);
    box-shadow: 0 4px 10px -4px rgba(61, 155, 233, 1.0);
    cursor: pointer;
}
.header > .row > div > div > span:hover{
    color: rgba(255, 255, 255, 1.0);
    box-shadow: 0 4px 10px -2px rgba(61, 155, 233, 1.0);
    cursor: pointer;
}
.header > .row {
    padding-top: 10px;
    height: 54px;
}
/* General Container */
.general-container > .team-showroom{
    left: 0;
    right: 0;
    border-left: 0;
    border-right: 0;
    height: 50px;
    /* background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 35%, rgba(0,0,0,1) 89%, rgba(0,0,0,1) 100%); 
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 35%,rgba(0,0,0,1) 89%,rgba(0,0,0,1) 100%); 
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 35%,rgba(0,0,0,1) 89%,rgba(0,0,0,1) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); */ 
}
.general-container > .team-showroom > .team-showroom-col{
    min-width: 9%;
    max-width: 9%;
}
.general-container > .team-showroom > .team-showroom-col > .card  > .card-img-overlay > .card-title {
    text-align: center;
    font-size:0.7rem;
    z-index: 5;
}
.general-container > .team-showroom > .team-showroom-col > .row > img{
    max-height: 150px;
}
.card{
    border: none;
}
.team-showroom-container{
    padding: 1rem;
}
.player-container{
    margin-left: 0px;
    margin-right: 0px;
    
}
.player-image-container{
    padding-left: 25px;
    padding-right: 25px;
    height: 90vh;
}
.player-image-container > img{
    bottom:0 ;
}
.player-info-container{
    padding-left: 25px;
    padding-right: 25px;
}
.player-info-container > .player-name-info{
    height: 20%;
}
.player-info-container > .player-name-info > .player-name > h1{
    font-size: 6rem;
}
.player-info-container > .team-info{
    height: 40%;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 1rem;
    margin-bottom:1rem;
}
.player-info-container > .team-info > .role-player{
    text-align: center;
}
.player-info-container > .team-info > .role-player > span > img{
    max-height: 10rem;
}
.player-info-container > .short-bio{
    height: 25%;
    padding: 1rem;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 1rem;
    margin-bottom:1rem;
}
.player-info-container > .social-media-player{
    height: 10%;
    padding: 0;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 1rem;
    margin-bottom:1rem;
}
.player-info-container > .social-media-player{
    height: 10%;
    padding: 0;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 1rem;
    margin-bottom:1rem;
}
.player-info-container > .social-media-player > .card-body > p.card-text{
    padding-top: 1rem;
}
.player-info-container > .social-media-player > .card-body{
    padding: 0;
}
.player-info-container > .team-info > .description-player{
    padding: 1rem;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 1rem;
    margin-bottom:1rem;
}

/* Colores */
.txt-blanco{
    color: #FFFFFF !important;
}
.txt-azul{
    color: #3D9BE9 !important;
}
.txt-purpura{
    color: #4C194F !important;
}
.txt-negro{
    color: #232323 !important;
}
.bg-azul{
    background-color: #3D9BE9 !important;
}
.bg-purpura {
    background-color: #4C194F !important;
}
.bg-negro {
    background-color: #232323 !important;
}
.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
}
.align-items-bottom {
-ms-flex-align: bottom!important;
align-items: bottom!important;
vertical-align: bottom!important;
}
.d-flex {
display: -ms-flexbox!important;
display: flex!important;
  }
.bottom-align-text {
    position: absolute;
    bottom: 0;
    right: 0;
  }
.clearfix:after { 
    content: " "; 
    visibility: hidden; 
    display: block; 
    height: 0; 
    clear: both;
 }